In [3]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [5]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-02-03  125.110001  103.500000
2020-02-04  125.660004  103.550003
2020-02-05  126.809998  104.150002
2020-02-06  127.139999  105.150002
2020-02-07  126.820000  104.099998

sec_returns = np.log(sec_data / sec_data.shift(1))

In [7]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-02-03  0.003924  0.010685
2020-02-04  0.004387  0.000483
2020-02-05  0.009110  0.005778
2020-02-06  0.002599  0.009556
2020-02-07 -0.002520 -0.010036

[3298 rows x 2 columns]

In [8]:
sec_returns['PG'].mean()

0.00032499196293600844

In [9]:
sec_returns['PG'].mean() * 250

0.08124799073400212

In [10]:
sec_returns['PG'].std()

0.010924088901104042

In [11]:
sec_returns['PG'].std() * 250 ** 0.5

0.17272501144827326

In [12]:
sec_returns['BEI.DE'].mean()

0.0002773923517975382

In [13]:
sec_returns['BEI.DE'].mean() * 250

0.06934808794938455

In [14]:
sec_returns['BEI.DE'].std()

0.013541668275454699

In [15]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.21411257534440628

In [16]:
print(sec_returns['PG'].mean() * 250)
print(sec_returns['BEI.DE'].mean() * 250)

0.08124799073400212
0.06934808794938455

In [18]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.081248
BEI.DE    0.069348
dtype: float64

In [19]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.172725
BEI.DE    0.214113
dtype: float64