In [2]:
Participants = ['John', 'Leila', 'Gregory', 'Kate']
Participants

['John', 'Leila', 'Gregory', 'Kate']

In [3]:
print(Participants[2])

Gregory

In [4]:
Participants[-1]

'Kate'

In [5]:
Participants[3] = 'Maria'

In [6]:
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [7]:
del Participants[2]

In [8]:
Participants

['John', 'Leila', 'Maria']

In [9]:
Participants.extend(['George', 'Mary'])

In [10]:
Participants.append('Dwayne')

In [11]:
Participants

['John', 'Leila', 'Maria', 'George', 'Mary', 'Dwayne']

In [12]:
print('The first participant is ' + Participants[0])

The first participant is John

In [13]:
len(Participants)

6

In [3]:
Participants = ['John', 'Leila', 'Gregory', 'Kate']
Participants

['John', 'Leila', 'Gregory', 'Kate']

In [4]:
Participants[1:3]

['Leila', 'Gregory']

In [5]:
Participants[-2:]

['Gregory', 'Kate']

In [6]:
Participants.append('Dwayne')

In [7]:
Participants.extend(['George', 'Maria'])

In [8]:
Participants

['John', 'Leila', 'Gregory', 'Kate', 'Dwayne', 'George', 'Maria']

In [9]:
Participants.index("Maria")

6

In [10]:
Newcomers = ["Josh", "Brittany"]
Newcomers

['Josh', 'Brittany']

In [11]:
Bigger_List=[Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Gregory', 'Kate', 'Dwayne', 'George', 'Maria'],
 ['Josh', 'Brittany']]

In [12]:
Participants.sort()

In [13]:
Participants

['Dwayne', 'George', 'Gregory', 'John', 'Kate', 'Leila', 'Maria']

In [14]:
Numbers = [6,3,5,4,1,2]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5, 6]

In [15]:
Numbers.sort(reverse=True)
Numbers

[6, 5, 4, 3, 2, 1]

Tuples

In [16]:
x = (40,41,42)
x

(40, 41, 42)

In [17]:
y = 50, 51, 52

In [18]:
y

(50, 51, 52)

In [19]:
a, b, c = 5, 10, 12

In [20]:
a

5

In [21]:
b

10

In [22]:
c

12

In [23]:
x[0]

40

In [25]:
List_1 = [x,y]

In [26]:
List_1

[(40, 41, 42), (50, 51, 52)]

In [28]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

In [30]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Perimeter: ")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

Dictionaries

In [32]:
dict = {'k1':"cat", 'k2':"dog", 'k3':"mouse", 'k4':"fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [34]:
dict['k1']

'cat'

In [35]:
dict['k5'] = "Parrot"

In [36]:
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'Parrot'}

In [37]:
dict['k2'] = "Squirrel"
dict

{'k1': 'cat', 'k2': 'Squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'Parrot'}

In [38]:
Team = {}

In [39]:
Team['Point Guard'] = "Dirk"
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [40]:
Team

{'Point Guard': 'Dirk',
 'Shooting Guard': 'Al',
 'Small Forward': 'Sean',
 'Power Forward': 'Alexander',
 'Center': 'Hector'}